<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password Page</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>
    <div class="auth-container">
        <img th:src="@{/images/brasao-pucminas-2025-versao-positiva.png}" alt="brasao">
        <form th:action="@{/recoverpassword}" method="post" class="auth-form">
            <h4 class="auth-title">E-mail de recuperação:</h4>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <div class="auth-button-container">
                <button type="submit">Recuperar</button>
            </div>
            <p class="auth-redirect-options">
                Lembrou sua senha? <a th:href="@{/login}"
                    style="color: red; margin-left: 5px;">Faça login</a>
            </p>
        </form>
    </div>
</body>

</html>